In [1]:
# import dependencies 
import os
import csv
import pandas as pd

In [7]:
# reading csv file
csvpath = os.path.join('.', 'Datasets', 'age_and_sex.csv')

with open(csvpath) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    csv_header = next(csvreader)

In [17]:
# convert to a df
file_path = 'Datasets/age_and_sex.csv'
raw_data_df = pd.read_csv(file_path)
raw_data_df.head(15)

,Payer,Service,Age Group,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
0,Medicaid,Dental Services,Total,Total,3709,4264,4791,6246,8392,8493,9773,11889,12644,12637
1,Medicaid,Dental Services,0-18,Total,2085,2591,2938,3737,5012,4989,5216,6195,6340,6246
2,Medicaid,Dental Services,19-44,Total,937,984,1077,1405,1929,1938,2480,3029,3270,3315
3,Medicaid,Dental Services,45-64,Total,433,440,515,733,974,1071,1543,1952,2088,2117
4,Medicaid,Dental Services,65-84,Total,207,202,211,291,358,369,400,543,728,738
5,Medicaid,Dental Services,85+,Total,48,47,51,80,118,127,135,169,218,221
6,Medicaid,Dental Services,Total,Males,1563,1824,2043,2682,3639,3712,4254,5237,5569,5559
7,Medicaid,Dental Services,0-18,Males,1033,1285,1456,1865,2501,2497,2603,3088,3169,3125
8,Medicaid,Dental Services,19-44,Males,276,281,293,394,572,596,816,1043,1158,1174
9,Medicaid,Dental Services,45-64,Males,176,181,211,307,420,468,661,873,927,940
10,Medicaid,Dental Services,65-84,Males,69,68,72,99,123,125,143,194,264,268
11,Medicaid,Dental Services,85+,Males,9,9,10,16,24,26,30,40,52,52
12,Medicaid,Dental Services,Total,Females,2146,2441,2748,3564,4752,4781,5519,6651,7075,7078
13,Medicaid,Dental Services,0-18,Females,1051,1305,1481,1872,2510,2493,2613,3107,3171,3121
14,Medicaid,Dental Services,19-44,Females,661,703,783,1011,1357,1342,1664,1986,2112,2141

In [39]:
raw_data_df["Service"].describe()

count                1152
unique                 11
top       Dental Services
freq                  108
Name: Service, dtype: object

In [23]:
# df for each age group
zero_18_df = raw_data_df[raw_data_df["Age Group"] == "0-18"]
zero_18_df[zero_18_df["Sex"] != "Total"]

,Payer,Service,Age Group,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
7,Medicaid,Dental Services,0-18,Males,1033,1285,1456,1865,2501,2497,2603,3088,3169,3125
13,Medicaid,Dental Services,0-18,Females,1051,1305,1481,1872,2510,2493,2613,3107,3171,3121
25,Medicare,Dental Services,0-18,Males,0,0,0,0,0,0,0,0,0,0
31,Medicare,Dental Services,0-18,Females,0,0,0,0,0,0,0,0,0,0
43,Other Payers and Programs,Dental Services,0-18,Males,410,515,561,692,806,1026,1074,1255,1403,2469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1111,Out-of-Pocket,Total Personal Health Care,0-18,Females,10733,12182,14478,15135,14783,15388,15587,14873,16177,14452
1123,Private health Insurance,Total Personal Health Care,0-18,Males,37407,41298,50167,51967,53316,54933,53275,58268,60324,57018
1129,Private health Insurance,Total Personal Health Care,0-18,Females,36043,39652,42625,42831,47262,52792,50046,52886,55358,51281
1141,Total,Total Personal Health Care,0-18,Males,92905,105530,124294,134985,144282,150591,150865,158457,163458,173397
1147,Total,Total Personal Health Care,0-18,Females,85543,96672,108695,115940,126545,137233,137644,139529,144977,150846