In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
health_data = os.path.join ('.' , 'Datasets' , 'age_and_sex_IP.csv')
health_data = pd.read_csv(health_data)
health_data.head()

,Payer,Service,Age Group,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
0,Medicaid,Dental Services,Total,Total,3709,4264,4791,6246,8392,8493,9773,11889,12644,12637
1,Medicaid,Dental Services,0-18,Total,2085,2591,2938,3737,5012,4989,5216,6195,6340,6246
2,Medicaid,Dental Services,19-44,Total,937,984,1077,1405,1929,1938,2480,3029,3270,3315
3,Medicaid,Dental Services,45-64,Total,433,440,515,733,974,1071,1543,1952,2088,2117
4,Medicaid,Dental Services,65-84,Total,207,202,211,291,358,369,400,543,728,738

In [13]:
health_data_total = health_data[health_data["Payer"]=="Total"]
health_data_totals = health_data_total[health_data_total["Age Group"]=="Total"]
health_data_totals.head()

,Payer,Service,Age Group,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
90,Total,Dental Services,Total,Total,73636,82189,91766,102762,105899,109700,114694,126197,137389,139313
96,Total,Dental Services,Total,Males,32525,36222,39970,45283,46589,47811,50791,56863,62504,62026
102,Total,Dental Services,Total,Females,41111,45968,51796,57480,59310,61889,63903,69333,74885,77288
198,Total,Durable Medical Equipment,Total,Total,29641,33210,39637,42642,39955,43259,46558,50037,54119,55120
204,Total,Durable Medical Equipment,Total,Males,12744,13744,16775,17965,17066,18925,20415,22339,23579,23993

In [21]:
health_data_sex = health_data_totals[health_data_totals["Sex"]!= "Total"]
health_data_sex.head()

,Payer,Service,Age Group,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
96,Total,Dental Services,Total,Males,32525,36222,39970,45283,46589,47811,50791,56863,62504,62026
102,Total,Dental Services,Total,Females,41111,45968,51796,57480,59310,61889,63903,69333,74885,77288
204,Total,Durable Medical Equipment,Total,Males,12744,13744,16775,17965,17066,18925,20415,22339,23579,23993
210,Total,Durable Medical Equipment,Total,Females,16897,19466,22862,24677,22890,24334,26142,27698,30539,31127
312,Total,Home Health Care,Total,Males,14223,16667,19270,23051,26543,30172,33078,37379,42602,52138

In [27]:
health_data_clean = health_data_sex[health_data_sex["Service"]!= "Total Personal Health Care"]
health_data_clean.head()

,Payer,Service,Age Group,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
96,Total,Dental Services,Total,Males,32525,36222,39970,45283,46589,47811,50791,56863,62504,62026
102,Total,Dental Services,Total,Females,41111,45968,51796,57480,59310,61889,63903,69333,74885,77288
204,Total,Durable Medical Equipment,Total,Males,12744,13744,16775,17965,17066,18925,20415,22339,23579,23993
210,Total,Durable Medical Equipment,Total,Females,16897,19466,22862,24677,22890,24334,26142,27698,30539,31127
312,Total,Home Health Care,Total,Males,14223,16667,19270,23051,26543,30172,33078,37379,42602,52138

In [29]:
health_data_sex_totals.keys()

Index(['Payer', 'Service', 'Age Group', 'Sex', '2002', '2004', '2006', '2008',
       '2010', '2012', '2014', '2016', '2018', '2020'],
      dtype='object')

In [31]:
del health_data_clean['Payer']
del health_data_clean["Age Group"]

In [33]:
health_data_clean

,Service,Sex,2002,2004,2006,2008,2010,2012,2014,2016,2018,2020
96,Dental Services,Males,32525,36222,39970,45283,46589,47811,50791,56863,62504,62026
102,Dental Services,Females,41111,45968,51796,57480,59310,61889,63903,69333,74885,77288
204,Durable Medical Equipment,Males,12744,13744,16775,17965,17066,18925,20415,22339,23579,23993
210,Durable Medical Equipment,Females,16897,19466,22862,24677,22890,24334,26142,27698,30539,31127
312,Home Health Care,Males,14223,16667,19270,23051,26543,30172,33078,37379,42602,52138
318,Home Health Care,Females,22242,27974,32782,39114,43982,47904,51593,56328,62950,72865
420,Hospital Care,Males,226031,258581,301674,330764,381210,413024,443089,479457,525748,628922
426,Hospital Care,Females,260451,306745,349535,390866,427584,464944,497438,555940,596910,638911
528,Nursing Care Facilities and Continuing Care Re...,Males,28699,33211,37578,43650,48351,51442,54564,59253,61675,74262
534,Nursing Care Facilities and Continuing Care Re...,Females,65802,71861,78319,86769,92101,95899,97986,102701,105988,122627
636,Other Health Residential and Personal Care,Males,38235,45503,51491,57883,65678,71434,77612,92262,100855,110166
642,Other Health Residential and Personal Care,Females,37775,43272,49360,54058,61724,66665,73703,81969,89079,100506
708,Other Nondurable Medical Products,Males,11464,13542,16101,18957,21663,25693,27994,30772,33247,36771
714,Other Nondurable Medical Products,Females,16441,19182,22565,26352,30157,35520,37522,41104,44354,48596
816,Other Professional Services,Males,16780,20333,22528,26641,29358,30108,33267,38662,42902,51472
822,Other Professional Services,Females,26558,29878,32736,37845,40532,46321,49084,53411,61593,66231
924,Physician and Clinical Services,Males,141983,162078,183671,200748,218409,244862,260853,285978,310678,348110
930,Physician and Clinical Services,Females,195708,222516,249339,280726,293944,312260,337409,390784,425511,470337
1032,Prescription Drugs,Males,64582,80145,94851,107670,110442,116898,134439,143278,150987,160536
1038,Prescription Drugs,Females,95231,115493,133248,136654,142930,140098,156203,170044,173183,190094